.crew {
  padding: 0 24px 0;
}
.crew .h5 {
  margin-bottom: 32px;
  text-transform: uppercase;
  color: var(--white);
}
.crew .h5 span {
  opacity: 0.25;
}
@media screen and (min-width: 601px) {
  .crew .align-title-div {
    text-align: left;
  }
  .crew .swiper-wrapper {
    align-items: flex-end;
  }
}
