.destination {
  padding: 0 24px;
}
.destination .h5 {
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 30px;
}
.destination .h5 span {
  mix-blend-mode: normal;
  opacity: 0.25;
  font-weight: 700;
}
.destination .swiper {
  width: 100%;
  height: 100%;
}

.destination .swiper-slide {
  text-align: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.destination .swiper-slide img {
  display: block;
  max-width: 100%;
  width: 170px;
  height: auto;
  object-fit: cover;
  margin-bottom: 70px;
  margin: 0 auto 50px;
}

.destination .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  margin: 0 25px !important;
}

.destination .swiper-pagination-bullet-active {
  background: #007aff;
  display: inline !important;
}
.destination .hr {
  border-top: solid 1px #383b4b;
  width: 100%;
  margin-bottom: 30px;
}
.destination .distance {
  margin-bottom: 20px;
}
.destination p {
  margin-bottom: 30px;
}
.destination .h6.sub2 {
  margin-bottom: 10px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  position: relative;
  top: -30px;
}

.destination .swiper-pagination-bullet-active {
  background: none;
  display: inline;
  border-radius: 0;
  border-bottom: solid 3px #fff;
}

@media screen and (min-width: 601px) {
  .destination {
    padding: 0 40px;
  }
  .destination .h2 {
    line-height: 64px;
    line-height: 92px;
  }
  .destination .swiper-slide img {
    margin-bottom: 100px;
    width: 300px;
  }
  /* .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: 350px;
  } */
  .destination .time-destination-wrapper {
    display: flex;
    justify-content: center;
  }
  .destination .distance,
  .destination .travel {
    margin: 0 30px;
    text-align: center;
  }
  .destination .align-title-div {
    text-align: left;
    margin-bottom: 60px;
  }
  .destination .planet {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 992px) {
  .destination {
    padding: 76px 0 0;
  }
  .destination .align-title-div {
    padding-left: 9.3vw;
  }
  .planet {
    display: flex;
    /* width: 100%; */
    padding: 0 9.3vw;
    width: 100%;
  }
  .planet .img-container {
    margin: 0 auto 0 80px;
  }
  .planet .text-div {
    max-width: 445px;
    margin: 0 0 0 auto;
    text-align: left;
  }
  .planet .h2 {
    margin-bottom: 14px;
    line-height: 115px;
    margin-top: 30px;
  }
  .destination p {
    margin-bottom: 54px;
  }
  .destination .distance,
  .destination .travel {
    text-align: left;
  }
  .destination .distance {
    margin: 0 auto 0 0;
  }
  .destination .travel {
    margin-right: 100px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    top: unset;
    bottom: 0 !important;
    left: -10px;
  }
}
