.header {
  display: flex;
  /* padding: 24px; */
  align-items: center;
  margin-bottom: 40px;
  padding: 24px 24px 0;
}
.header .logo {
  cursor: pointer;
}
.burguer-container {
  margin: 0 0 0 auto;
  cursor: pointer;
}
@media screen and (min-width: 601px) {
  .header {
    padding: 0;
  }
  .header .logo-container {
    padding: 24px 40px;
  }
  .header .menu-tablet {
    margin: 0 0 0 auto;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    width: 450px;
  }
  .header .menu-tablet ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 96px;
  }
  .header .menu-tablet a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
  }
  .header .menu-tablet li {
    display: flex;
    align-items: center;

    height: 100%;
  }
  .header .menu-tablet li.active,
  .header .menu-tablet li.active:hover {
    border-bottom: solid 3px #fff;
    margin-bottom: -3px;
  }
  .header .menu-tablet li:hover {
    border-bottom: solid 3px #a6aab5;
    margin-bottom: -3px;
  }
  .hide-mobile.line {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .header {
    margin: 40px 0;
  }
  .menu-tablet span {
    display: inline-block;
    font-weight: bold;
    margin-right: 10px;
  }
  .header .logo-container {
    padding: 24px 55px;
  }
  .header .menu-tablet {
    width: 60%;
  }
  .header .menu-tablet ul {
    padding: 0 10.5vw 0 8vw;
  }

  .header .menu-tablet a {
    font-size: 16px;
  }
  .hide-mobile.line {
    display: inline-block;
    height: 1px;
    width: 40vw;
    background: var(--white);
    opacity: 0.25;
    position: relative;
    left: 2vw;
    z-index: 1;
  }
}
@media screen and (min-width: 1600px) {
}
