.home {
  padding: 0 24px 0;
}
.home .h1 {
  text-transform: uppercase;
  color: var(--white);
}

.home .h5 {
  margin-bottom: 20px;
}
.home .p {
  line-height: 25px;
}
.home .enter-span {
  width: 150px;
  height: 150px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px auto;
  cursor: pointer;
}
.enter-span .h4 {
  color: #0b0d17;
  text-transform: uppercase;
  font-weight: 400;
}
.enter-span:hover {
  box-shadow: -1px -1px 5px 70px rgba(255, 255, 255, 0.11);
  -webkit-box-shadow: -1px -1px 5px 70px rgba(255, 255, 255, 0.11);
  -moz-box-shadow: -1px -1px 5px 70px rgba(255, 255, 255, 0.11);
}
@media screen and (min-width: 601px) {
  .home {
    padding: 100px 150px 0;
  }
  .home .enter-span {
    width: 242px;
    height: 242px;

    margin: 156px auto;
  }
}
