:root {
  --dark-blue: #0b0d17;
  --light-blue: #d0d6f9;
  --white: #ffffff;
}
* {
  font-family: 'Barlow Condensed', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide-mobile {
  display: none;
}

.h1 {
  font-size: 100px;
  font-family: 'Bellefair', serif;
  font-weight: 400;
}
.h2 {
  font-size: 56px;
  font-family: 'Bellefair', serif;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.h3 {
  font-size: 24px;
  font-family: 'Bellefair', serif;
  font-weight: normal;
}
.h4 {
  font-size: 16px;
  font-family: 'Bellefair', serif;
}
.h5 {
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 4.75px;
}
.h6.sub1 {
  font-size: 28px;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.h6.sub2 {
  font-size: 14px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.35px;
  font-weight: 400;
  text-transform: uppercase;
}
p {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 15px;
  line-height: 25px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--light-blue);
}
.nav-text {
  font-size: 14px;
}
.swiper-pagination-bullet {
  /* font-size: 14px !important; */
  text-transform: uppercase;
}
@media screen and (min-width: 601px) {
  .h1 {
    font-size: 150px;
  }
  .h2 {
    font-size: 80px;
  }
  .h3 {
    font-size: 40px;
  }
  .h4 {
    font-size: 32px;
    font-weight: 400;
  }
  .h5 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .h6.sub2 {
    font-size: 16px;
  }

  p {
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    line-height: 28px;
  }
  .nav-text {
    font-size: 16px;
  }
  .swiper-pagination-bullet {
    font-size: 16px !important;
    text-transform: uppercase;
  }
  .hide-tablet {
    display: none;
  }
  .hide-mobile {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .d-desktop {
    display: block;
  }
  .h1 {
    font-size: 150px;
  }
  .h2 {
    font-size: 100px;
  }
  .h3 {
    font-size: 56px;
  }
  .h4 {
    font-size: 32px;
  }
  .h5 {
    font-size: 28px;
  }

  p {
    font-size: 18px;
  }
  .nav-text {
    font-size: 16px;
  }
  .swiper-pagination-bullet {
    font-size: 16px !important;
    text-transform: uppercase;
  }
}
