.member .h4 {
  text-transform: uppercase;
  color: #fff;
  opacity: 0.5;
  margin-bottom: 8px;
}
.member .h3 {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 16px;
}
.member .img-container {
  width: 327px;
  border-bottom: solid 1px #383b4b;
  margin-bottom: 60px;
}
.member img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: auto;
  height: 220px;
}
.crew .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  opacity: 0.17;
}
.crew .swiper-pagination-bullet-active {
  opacity: 1;
}
.crew .swiper-horizontal > .swiper-pagination-bullets,
.crew .swiper-pagination-bullets.swiper-pagination-horizontal,
.crew .swiper-pagination-custom,
.crew .swiper-pagination-fraction {
  top: 230px;
  position: absolute;
}
@media screen and (min-width: 601px) {
  .member {
    display: flex;
    flex-direction: column-reverse;
    padding: 0 150px 0;
  }
  .member .img-container {
    width: 330px;
    margin: 120px auto 0;
    height: auto;
    width: auto;
  }
  .member img {
    height: 532px;
  }
  .member .swiper-wrapper {
    align-items: flex-end;
  }
  .member .crew .swiper-horizontal > .swiper-pagination-bullets,
  .crew .swiper-pagination-bullets.swiper-pagination-horizontal,
  .crew .swiper-pagination-custom,
  .crew .swiper-pagination-fraction {
    top: 330px;
  }
}
