.technologies {
  padding-bottom: 70px;
  margin: auto 0 0;
}
.technologies .h5 {
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 32px;
}
.technologies .h5 span {
  opacity: 0.25;
}
.technologies .swiper-pagination {
  top: 220px;
}

.technologies .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--white);
  color: #0b0d17;
}
@media screen and (min-width: 601px) {
  .technologies .align-title-div {
    text-align: left;
    padding: 0 40px;
  }

  .technologies .swiper-pagination {
    top: 420px;
  }
}
@media screen and (min-width: 992px) {
  .technologies .align-title-div {
    padding-left: 9.3vw;
    margin-bottom: 17vh;
  }
  .technologies {
    padding: 76px 0 0;
  }
}
